<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.funworld.heogiutien">

    <application
        android:name=".common.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".features.splash.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.main.MainActivity" />
        <activity android:name=".features.expense.create.ExpenseReportActivity" />
        <activity android:name=".features.expense.create.CreateExpenseActivity" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="heogiutienDB" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="4" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.funworld.heogiutien.data.dao.Expense,com.funworld.heogiutien.data.dao.Resource,com.funworld.heogiutien.data.dao.Debt" />

        <activity android:name=".features.resource.list.ResourcesActivity"></activity>
    </application>

</manifest>